/dev
/SI
/msdv/ResourceManger/Debug
/msdv/ResourceManger/ipch
/msdv/ResourceManger/ResourceManger.vcxproj.user
/msdv/ResourceManger/ResourceManger.opensdf
/msdv/ResourceManger/ResourceManger.sdf
/msdv/ResourceManger/ResourceManger.suo
/msdv/ResourceManger/ResourceManger.vcxproj.filters
